@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

.small-header {
  height: 55px; 
  transition: height 0.4s ease;
}


header {
  height: 115px; 
  transition: height 0.4s ease; 
}
